name: Deployment Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check style
        run: npm run eslint

      - name: Check unit tests
        run: npm run test

      # --- START PLAYWRIGHT SECTION ---
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test:e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      # --- END PLAYWRIGHT SECTION ---

      - name: Run Build (Verification)
        run: npm run build

      # Deployment only runs if ALL previous steps passed
      - name: Deploy to Render
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main' &&
          !contains(join(github.event.commits.*.message, ' '), '#skip')
        uses: sws2apps/render-deployment@v2.0.0
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}

  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest

    if: |
      github.event_name == 'push' &&
      github.ref == 'refs/heads/main' &&
      !contains(join(github.event.commits.*.message, ' '), '#skip')
    # join creates a single wall of text, it works with squash merge and normal merge
    steps:
      - uses: actions/checkout@v4

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
