name: Deployment Pipeline

on:
  push:
    branches:
      - main
      - part-b
      - part-c

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npm run eslint

      - name: Check tests
        run: npm run test

      - name: Run Build
        run: npm run build

      # Only run this step if we are on the 'main' branch
      # and all previous steps passed.
      - name: Deploy to Render
        if: github.ref == 'refs/heads/main'
        uses: sws2apps/render-deployment@v2.0.0
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
